REACT_APP_API_ENDPOINT = http://ongapi.alkemy.org/api

#News
REACT_APP_NEWS_API_ENDPOINT = $REACT_APP_API_ENDPOINT/news


#Categories
REACT_APP_CATEGORIES_DELETE = '/categories/"id"' -->Utilizar el ID, para eliminar.
REACT_APP_CATEGORIES_GET = '/categories' --> Todo el listado de Categorias
REACT_APP_CATEGORIES_POST = '/categories' --> Crear nueva categoria.


#Testimonios
REACT_APP_TESTIMONIOS_GET= '$REACT_APP_BASE_URL/testimonials' -->Listar Testimonios
REACT_APP_TESTIMONIOS_POST= '$REACT_APP_BASE_URL/testimonials' -->Creacion de testimonio
REACT_APP_TESTIMONIOS_PUT= '$REACT_APP_BASE_URL/testimonials/' --> Requiere ID
REACT_APP_TESTIMONIOS_DELETE= '$REACT_APP_BASE_URL/testimonials/' --> Requiere ID
