.about__container {
    width: 100%;

    &__banner {
        position: relative;
        height: 500px;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
            filter: brightness(30%);
        }

        &__text {
            height: 500px;
            width: 100%;
            position: absolute;
            top: 0;
            color: rgb(248, 247, 247);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            margin-left: .8em;

            .about__title {
                margin-top: 3em;
                font-size: 3em;
                display: grid;
                place-content: center;

                @media(min-width: 992px) {
                    font-size: 4em;
                }
            }
        }
    }

    &__text {
        color: rgba(0,0,0,.55);
        padding: 2em;
        p {
            font-size: 1.2em;
        }

        &__comentarios {
            border: 2px solid rgba(0,0,0,.55);
            border-radius: 15px;
            padding: 1em;
        }
    }
}