.header-container{
    display:flex;
    align-items:center;

    .header-logo{
        height:20vh;
    }

    .header-menu-icon{
        font-size:2rem;
    }

    .header-menu-icon:hover{
        cursor:pointer;
    }
}