@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar{
    display:none;
    opacity: 0;
    height:100vh;
    font-family: 'Rubik', sans-serif;
    position:absolute;
    background-color: rgba(255, 255, 255, 0.945);
    z-index:998;
    transition: .3s ;
    width:100%;
}


.active-sidebar-backoffice{
    opacity: 1;
    animation-duration: .5s;
    animation-name: aparecer;
}


@media (min-width: 576px){
    .active-sidebar-backoffice{
        width:576px;
    }
}


@keyframes aparecer {
    0%{
      opacity: 0;
    }
  
    100% {
      opacity: 1;
      
    }
  }
  

.menu-title{
    font-family: 'Rubik', sans-serif;
    font-size:2rem;
    font-weight:bold;
    color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(59, 59, 59);
}

.backoffice-link{
    text-decoration:none;
    font-size:1.8rem;
    color: #9AC9FB;
    transition: .2s;
    border-radius: 10px;

    &:hover{
        margin-left: 10px;
        background-color: #FAFA88
    }
}