@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.news-card-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    grid-gap:30px;
    justify-content: center;
    justify-items: center;

}

.news-card{
    width:18rem;
    box-shadow: 0px 10px 40px #ccc;
    transition: .2s;
    
    .card-title{
        font-family: 'Rubik', sans-serif;
    }
    .card-content{
        font-family: 'Karla', sans-serif;
    }
}

.news-card:hover{
    transform:scale(1.05);
    cursor: pointer;
}